body {
  background: #fff;
  font-family: 'Poppins', sans-serif; 
  color: #212121;
  padding-top: 100px;
}

.app {
  max-width: 960px;
  margin: 0 auto;
}

.app-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.app-heading .app-heading__title {
  font-size: 1.6rem;
  font-weight: 600;
  margin: 0;
  margin-top: 10px;
}

.app-heading .app-heading__description {
  font-size: 1rem;
  font-weight: lighter;
  margin: 0;
}

.section-title {
  font-weight: 400;
  margin: 0;
}

.section-description {
  font-weight: lighter;
  margin: 0;
  margin-bottom: 10px;
}

.primary-button {
  color: #212121;
  background: #fff;
  padding: 10px 20px;
  font-size: 1.2rem;
  border: 1px solid #212121;
  cursor: pointer;
}

.basic-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
  align-items: flex-start;
}

.basic-item__heading {
  font-weight: 400;
  font-size: 1.1rem;
  margin: 0;
}

.basic-item__description {
  font-weight: lighter;
  margin: 0;
  margin-bottom: 20px;
}

.basic-input__button {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.primary-input {
  border: 1px solid #212121;
  outline: none;
  font-size: 1.2rem;
  padding: 5px 10px;
  margin-bottom: 20px;
}

.primary-textarea {
  border: 1px solid #212121;
  outline: none;
  font-size: 1.2rem;
  padding: 10px 20px;
  margin-bottom: 20px;
  width: 100%;
  box-sizing: border-box;
}

.preview {
  display: flex;
  justify-content: space-between;
}

.preview-content {
  width: 100%;
}

.preview-image {
  padding: 10px;
  width: 100%;
}

.preview-image img {
  max-width: 100%;
}

.advanced-item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 50px;
}

.footer {
  font-weight: 200;
  padding-top: 100px;
  padding-bottom: 10px;
}

.footer a {
  color: #212121;
}